#{extends 'main.html' /} #{set title:'康众汽配连锁' /}

<div data-role="page">
	<div data-role="header">
		<h1>优惠码</h1>
	</div>
	<div data-role="content">
		<p>
			感谢您的参与，您已获得康众50元代金券，优惠码为：<span style="color: #FC9014">${promoCode}</span>
		</p>
		<p>使用说明：</p>
		<p>
			1.优惠码有效期：2014.01.01-2014.03.31，过期无效；
		</p>
		<p>
			2.有效期内，在康众各门店、康众天猫商城单次消费满500元，凭码立减50元（必要时请提供提交的相关信息）；
		</p>
		<p>
			3.优惠码不累计，每位用户、每家单位仅能享受一次优惠。
		</p>
		<p>
			4.如果忘记优惠码，请点击首页右下角“更多”，选择“优惠码查询”输入提交的相关信息查询。
		</p>
	</div>
</div>